--swiftversion 5.9
--indent 2
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--commas inline
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--patternlet inline
--decimalgrouping 3
--binarygrouping 4
--hexgrouping 4
--exponentcase lowercase
--header ignore
--ifdef no-indent
--ranges no-space
--operatorfunc spaced
--nospaceoperators ...,..<
--exclude build,DerivedData,.build,NotionDashboardSwift.xcodeproj,packaging
--disable redundantSelf,wrapMultilineStatementBraces,blankLinesAtStartOfScope
